* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
}
.flexbox > li {
    -webkit-flex: 1;
    flex: 1;
}
/*.flexbox > li+li:not(:last-child) {
    -webkit-flex: 2;
    flex: 2;
}*/
.flexbox > li > a {
    white-space: nowrap;
}

/* header */
.bio {
    border-top: 5px solid #f6f8ea;
}
.bio > header > div {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
header .logo {
    position: relative;
    width: 70%;
    float: left;
    margin: 0 0 30px 0;
}
header .logo a {
    text-decoration: none;
}
header .logo a:hover {
    color: #b8d30b;
    text-decoration: none;
}
header .logo a span {
    vertical-align: middle;
}

/* social */

.bio > header .social {
    margin-top: 15px;
    float: right;
    width: 27%;
    text-align: left;
}
.bio > header .social div {
    margin-left: 10px !important;
    display: inline-block;
}

header .contact {
    position: absolute;
    bottom: 55px;
    right: 0;
    border-left: 1px solid #555;
    padding-left: 30px;
    width: 26%;
    text-align: left;
}
header .contact address {
    margin: 0;
}
header .contact address p:last-child {
    margin-bottom: 0;
}

/* navigation */

.bio > header nav {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

/* main */

main {
    padding: 0px 0 80px 0;
}
main .content {
    position: relative;
    width: 960px;
    min-height: 660px;
    margin: 0 auto;
    padding: 40px;
    background: #FFF;
    background: rgba(255,255,255, 0.92);
    -moz-box-shadow: 0 2px 10px #888;
    -webkit-box-shadow: 0 2px 10px #888;
    box-shadow: 0 2px 10px #888;
}
main .content:before,
main .content:after {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    height: 5px;
    width: 880px;
    background: #b8d30b;
}
main .content:before {
    top: 0;
}
main .content:after {
    bottom: 0;
}


/* main sneak peak */
main .main-sneak-peak {
    margin-bottom: 40px;
}
main .main-sneak-peak figure {
    position: relative;
    background: #363636;
    color: #aca8a5;
}
main .main-sneak-peak figure .photo {
    width: 880px;
    height: 300px;

    background: url(../img/images/default.jpg) no-repeat center -371px;
}
main .main-sneak-peak figure figcaption {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 20px 30px;
    background-color: #424346;
    background-color: rgba(0, 0, 0, .5);
    font-size: 26px;
    color: #f6f8ea;
}


/* content article - global */
main .content .article {
    padding: 0 0 30px 0;
}
main .content .article h3 {
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    padding-right: 20px;
    font-weight: normal;
    font-size: 20.5px;
    line-height: 24px;
    text-transform: lowercase;
}
main .content .offer-article figure {
    margin: 0;
}
main .content .article .article-content {
    width: 80%;
    padding-left: 20px;
    border-left: 2px solid #b8d30b;
    float: right;
    text-align: justify;
}
main .content .article .article-content.full-width {
    width: 100%;
    padding-left: 0;
    float: none;
    border: none;

}
main .content .article .article-content p:last-child {
    margin-bottom: 0;
}

main .content .article .article-content strong {
    color: #000;
    font-weight: bolder;
}

/* content - home */

/* content - news */

/* content - team */
main .content .team .article .article-content {
    min-height: 156px;
}
main .content .team .article .article-content h4 {
    margin-top: 0;
}

/* content - projects */
main .content .projects .project-list li {
    margin-bottom: 10px;
}
main .content .projects .project-list li:last-child {
    margin-bottom: 0;
}

/* content - offer */

main .content .offer-list {
    list-style: none;
    font-size: 16px;
    text-transform: lowercase;
    margin: 0;
}
main .content .offer-list li {
    margin-bottom: 15px;
}
main .content .offer-list li:last-child {
    margin-bottom: 0;
}

/* content - contact */
main .content .contact address {
    margin-bottom: 0;
}
main .content .contact dl {
    margin: 0;
}
main .content .contact dd {
    margin-left: 0;
}
main .content .contact dd+dt {
    margin-top: 10px;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
footer .copyright {
    width: 960px;
    margin: 0 auto;
    padding: 10px 40px;
    text-align: left;
    color: #f6f8ea;
    font-size: 12px;
}
