/*
f6f8ea - zielonkawy biały
b8d30b - zielony
95a105 - ciemno zielony
363636 - ciemno grafitowy
*/

body {
    position: relative;
    background: #353533;
    color: #555;
    font: 13px/21px 'Open Sans', Arial, Helvetica, sans-serif;
}
body .background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: url(../img/photos/backgrounds/home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: opacity .5s;
    -moz-transition: opacity .5s; /* Firefox 4 */
    -webkit-transition: opacity .5s; /* Safari and Chrome */
    -o-transition: opacity .5s; /* Opera */
}
body .background-container.opaque {
    opacity: 1;
}
body .background-container.home {
    background-image: url(../img/photos/backgrounds/home.jpg);
}
body .background-container.news {
    background-image: url(../img/photos/backgrounds/news.jpg);
}
body .background-container.team {
    background-image: url(../img/photos/backgrounds/team.jpg);
}
body .background-container.offer {
    background-image: url(../img/photos/backgrounds/offer.jpg);
}
body .background-container.contact {
    background-image: url(../img/photos/backgrounds/contact.jpg);
}

header,
footer {
    color: #f6f8ea;
    background: #424346;
    background: rgba(54, 54, 54, .9);
}
a {
    color: #b8d30b;
}
main a {
    color: #A0B611;
}
a:hover {
    color: #95a105;
}
h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}
.logo h1 {
    display: block;
    margin-bottom: 0;
    text-transform: lowercase;
    font-size: 48px;
}
.logo h1 .icon {
    display: none;
}
.logo h1 .icon img {
    height: 34px;
}
.logo h2 {
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 0 0 3px;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    color: #f6f8ea;
    text-transform: lowercase;
    line-height: 20px;
}

.bio > header > .contact {
    color: #eee;
}
.bio > header > .contact i {
    margin-top: 2px;
    opacity: .8;
}

/* nav pills colors */
.bio .main-nav {
    text-transform: lowercase;
}
.bio .main-nav ul {
    margin-bottom: 10px;
}
.bio .nav-pills>li>a {
    color: #f6f8ea;
    text-align: center;
    transition: background-color .2s, color .1s;
    -moz-transition: background-color .2s, color .1s; /* Firefox 4 */
    -webkit-transition: background-color .2s, color .1s; /* Safari and Chrome */
    -o-transition: background-color .2s, color .1s; /* Opera */
}
.bio .nav-pills>.active>a,
.bio .nav-pills>.active>a:hover,
.bio .nav-pills>.active>a:focus {
    color: #f6f8ea;
    background-color: #95a105;
}
.bio .nav>li>a:hover {
    color: #363636;
}
.bio .nav>li>a:focus {
    color: #f6f8ea;
}
.bio .nav .dropdown-toggle .caret {
    border-top-color: #f6f8ea;
    border-bottom-color: #f6f8ea;
}
.bio .nav .dropdown-toggle:hover .caret,
.bio .nav .dropdown-toggle:focus .caret {
    border-top-color: #363636;
    border-bottom-color: #363636;
}

.bio .dropdown-menu>li>a:hover,
.bio .dropdown-menu>li>a:focus,
.bio .dropdown-submenu:hover>a,
.bio .dropdown-submenu:focus>a {
    background-image: none;
    background-color: #95a105;
    /*background-image: -moz-linear-gradient(top,#b8d30b,#95a105);
    background-image: -webkit-linear-gradient(top,#b8d30b,#95a105);
    background-image: -o-linear-gradient(top,#b8d30b,#95a105);
    background-image: linear-gradient(to bottom,#b8d30b,#95a105);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb8d30b',endColorstr='#ff95a105',GradientType=0);*/
}

