{% extends "oferta/oferta.html.twig" %}

{% block title %}Badania opinii publicznej | Bio-Inwent{% endblock %}
{% block metaDescription %}Na państwa życzenie wykonujemy badania opinii publicznej poparte rzetelną analizą statystyczną.{% endblock %}

{% block offerHeader %}badania opinii publicznej{% endblock %}

{% block offerArticleContent %}
    <p>Na Państwa życzenie <strong>wykonujemy badania opinii publicznej</strong> poparte rzetelną analizą statystyczną. Nasi pracownicy posiadają szeroką wiedzę naukową, umożliwiającą dokonanie miarodajnej analizy pozyskanych danych. Skutecznie realizujemy i konsultujemy projekty biznesowe oraz badawczo-rozwojowe. Nasze <strong>analizy opieramy na sprawdzonych metodach i algorytmach</strong>.</p>
{% endblock %}