{% extends "oferta/oferta.html.twig" %}


{% block title %}
Decyzje środowiskowe
{% endblock %}
{% block metaDescription %}
Bio-invent zajmuje się decyzjami środowiskowymi.
{% endblock %}


{% block offerHeader %}
    decyzje środowiskowe
{% endblock %}

{% block offerArticleContent %}
Bio-invent zajmuje się decyzjami środowiskowymi. Więcej o decyzjach środowiskowych już wkrótce na tej podstronie.
{% endblock %}

