{% extends "oferta/oferta.html.twig" %}

{% block title %}Dokumentacje przyrodnicze, Raporty odziaływania na środowisko | Bio-Inwent{% endblock %}
{% block metaDescription %}Wykonujemy kompleksowe opracowania z zakresu ochrony przyrody i ochrony środowiska. Świadczymy usługi na najwyższym poziomie.{% endblock %}

{% block offerHeader %}dokumentacje przyrodnicze{% endblock %}

{% block offerArticleContent %}
    <p>
        Wykonujemy kompleksowe opracowania z zakresu ochrony przyrody i szeroko rozumowanej ochrony środowiska. Świadczymy usługi na najwyższym poziomie, zapewniając kompleksową obsługę inwestycji w zakresie zagadnień środowiskowych, ze szczególnym uwzględnieniem problematyki inwentaryzacji przyrodniczych. Wykonujemy kompleksowe opracowania obejmujące swym zakresem różnorodną tematykę. Są to miedzy innymi:
    </p>
    <ul>
        <li><strong>Inwentaryzacje przyrodnicze</strong> – zarówno kompleksowe jak i obejmujące swym zakresem wybrane grupy organizmów</li>
        <li><strong>Raporty o Oddziaływaniu Inwestycji na Środowisko</strong>, w tym na obszary NATURA 2000:
            <ul>
                <li>dla etapu decyzji o lokalizacji inwestycji celu publicznego, decyzji o warunkach zabudowy</li>
                <li>dla etapu decyzji o pozwoleniu na budowę</li>
                <li>wykonujemy również Oceny dla elektrowni wiatrowych uwzględniające ekspertyzę chiropterologiczną</li>
            </ul>
        </li>
        <li><strong><a href="http://www.bio-inwent.pl/karty_informacyjne_przedsiewziec.php" style="color:#000">Karty informacyjne przedsięwzięć</a></strong></li>
        <li><strong>Przeglądy ekologiczne oraz oceny stanu środowiska</strong> w obrębie istniejących obiektów</li>
        <li><strong>Analizy porealizacyjne</strong> służące porównaniu prognozowanych oddziaływań z oddziaływaniami obserwowanymi po realizacji przedsięwzięcia</li>
        <li><strong>Programy ochrony środowiska</strong></li>
        <li><strong>Opracowywanie działań kompensacyjnych</strong> w przypadku znaczącego oddziaływania przedsięwzięcia na obszary i gatunki objęte ochroną w ramach sieci Natura 2000</li>
        <li><strong>Opracowania dotyczące wdrażania Dyrektywy Azotanowej</strong></li>
        <li><strong>Plany ochrony przyrody</strong></li>
        <li>Wszelkie <strong>opracowania z zakresu gospodarki odpadami</strong></li>
        <li><strong>Oceny stanu ekologicznego wód powierzchniowych</strong></li>
        <li><strong><a href="http://bio-inwent.pl/ekspertyzy_srodowiskowe.php" style="color:#000">Ekspertyzy</a> botaniczne</strong> na potrzeby programów rolno-środowiskowych</li>
        <li><strong>Operaty dendrologiczne</strong> na potrzeby inwestycji</li>
        <li><strong>Operaty wodno-prawne</strong></li>
        <li><strong>Programy usuwania azbestu</strong></li>
        <li>Opracowania z zakresu gospodarki przestrzennej, w tym <strong>miejscowe plany zagospodarowania przestrzennego</strong></li>
    </ul>
{% endblock %}