{% extends "oferta/oferta.html.twig" %}


{% block title %}
Ekspertyzy środowiskowe
{% endblock %}
{% block metaDescription %}
Bio-invent zajmuje się ekspertyzami środowiskowymi.
{% endblock %}


{% block offerHeader %}
    ekspertyzy środowiskowe
{% endblock %}

{% block offerArticleContent %}
Bio-invent zajmuje się ekspertyzami środowiskowymi. Więcej o ekspertyzach środowiskowych już wkrótce na tej podstronie.
{% endblock %}

