{% extends "oferta/oferta.html.twig" %}

{% block title %}Gospodarka odpadami | Bio-Inwent{% endblock %}
{% block metaDescription %}Zapewniamy kompleksowe wsparcie z zakresu gospodarki odpadami.{% endblock %}

{% block offerHeader %}gospodarka odpadami{% endblock %}

{% block offerArticleContent %}
    <ul>
        <li>Opracowanie wniosku w celu uzyskania zezwolenia na prowadzenie następujących działalności:
            <ul>
                <li>Zbierania odpadów</li>
                <li>Transport odpadów</li>
                <li>Odzysk odpadów</li>
                <li>Unieszkodliwianie odpadów</li>
            </ul>
        </li>
        <li>Opracowywanie wniosku o uzyskanie decyzji zatwierdzającej program gospodarki odpadami niebezpiecznymi, pozwolenia na wytwarzanie odpadów, a także przedłożenia informacji o wytwarzanych odpadach oraz o sposobach gospodarowania wytworzonymi odpadami - Art.17 ustawy o odpadach z dnia 27 kwietnia 2001 r.</li>
        <li>Prowadzenie dokumentacji związanej z gospodarką odpadami</li>
        <li>Opracowanie oraz dostarczanie do odpowiednich organów ochrony środowiska sprawozdań z:
            <ul>
                <li>wytworzonych odpadów</li>
                <li>zbieranych odpadów</li>
                <li>transportowanych odpadów</li>
                <li>odzyskiwanych odpadów</li>
                <li>unieszkodliwianych odpadów</li>
                <li>ze składowania lub magazynowania odpadów</li>
            </ul>
        </li>
        <li>Opracowanie instrukcji eksploatacji składowisk</li>
        <li>Programy Usuwania Azbestu dla Gmin i Powiatów</li>
    </ul>
{% endblock %}
