{% extends "oferta/oferta.html.twig" %}

{% block title %}Inwentaryzacje przyrodnicze, Inwentaryzacja dendrologiczna{% endblock %}

{% block metaDescription %}Firma Bio-Inwent specjalizuje się w inwentaryzacji flory i fauny. Profesjonalna inwentaryzacja przyrodnicza to źródło wiedzy o bioróżnorodności badanego obszaru.{% endblock %}

{% block offerHeader %}inwentaryzacje przyrodnicze i dendrologiczne{% endblock %}

{% block offerArticleContent %}
    <p>
        Inwentaryzacje przyrodnicze oraz dendrologiczne są podstawą przy realizacji przedsięwzięć. Stanowią one niezbędny element, który wymagany jest dla różnego rodzaju inwestycji już na etapie uzyskiwania decyzji środowiskowej. <strong>Firma BIO-INWENT specjalizuje się w inwentaryzacji zarówno flory jak i fauny</strong>. Prawidłowo przeprowadzona inwentaryzacja to źródło wiedzy o bioróżnorodności badanego obszaru (np.: terenu wokół inwestycji, gminy, województwa, obszaru NATURA 2000). Prace terenowe pozwalają ustalić aktualny stan przyrody badanego obszaru. Dopiero takie rozpoznanie terenowe powinno być podstawą dalszych działań. Na Państwa życzenie wykonujemy inwentaryzację następujących grup organizmów:
    </p>
    <ul>
        <li>Fauna (ptaki, ssaki w tym nietoperze, gady, płazy, owady, ryby),</li>
        <li>Flora (siedliska leśne, siedliska łąkowe, siedliska wodne, gatunki roślin objętych ochroną, inwentaryzacja drzew i krzewów przeznaczonych do wycinki oraz zabiegów pielęgnacyjnych).</li>
    </ul>
	<p>Zajmujemy się wszelkimi inwentaryzacjami przyrodniczymi w tym także inwentaryzacjami dendrologicznymi.</p>
{% endblock %}