{% extends "oferta/oferta.html.twig" %}

{% block title %}Inwentaryzacje dendrologiczne{% endblock %}

{% block metaDescription %}Zajmujemy się wszelkimi inwentaryzacjami przyrodniczymi i dendrologicznymi. Zapraszamy{% endblock %}


{% block offerHeader %}
    inwentaryzacja dendrologiczna
{% endblock %}

{% block offerArticleContent %}
Wkrótce więcej o inwentaryzacjach dendrologicznych. Tymczasem zapraszamy na podstronę: <a href="http://www.bio-inwent.pl/inwentaryzacje_przyrodnicze.php">inwentaryzacja dendrologiczna</a>
{% endblock %}

