{% extends "oferta/oferta.html.twig" %}


{% block title %}
Karty informacyjne przedsięwzięć
{% endblock %}
{% block metaDescription %}
Zajmujemy się kartami informacyjnymi przedsięwzięć.
{% endblock %}


{% block offerHeader %}
    karty informacyjne przedsięwzięć
{% endblock %}

{% block offerArticleContent %}
Zajmujemy się kartami informacyjnymi przedsięwzięć. Więcej o kartach informacyjnych wkrótce na tej podstronie...
{% endblock %}

