{% extends "oferta/oferta.html.twig" %}


{% block title %}
    Kompleksowa obsługa stacji demontażu pojazdow
{% endblock %}
{% block metaDescription %}
    Bio-invent zajmuje się kompleksową obsługą stacji demontażu pojazdow.
{% endblock %}


{% block offerHeader %}
    kompleksowa obsługa stacji demontażu pojazdow
{% endblock %}

{% block offerArticleContent %}
    Bio-invent zajmuje się kompleksową obsługą stacji demontażu pojazdow. Więcej o kompleksowej obsłudze stacji demontażu pojazdow już wkrótce na tej podstronie.
{% endblock %}