{% extends "oferta/oferta.html.twig" %}

{% block title %}Monitoring środowiska | Bio-Inwent{% endblock %}
{% block metaDescription %}Posiadamy ogromne doświadczenie z zakresu monitoringu środowiska.{% endblock %}

{% block offerHeader %}monitoring środowiska{% endblock %}

{% block offerArticleContent %}
    <p>Firma BIO-INWENT specjalizuje się również w <strong>ocenie stanu hydromorfologicznego</strong> rzek na podstawie metody River Habitat Survey (RHS) oraz w <strong>ocenie stanu ekologicznego wód</strong> Makrofitową Metodą Oceny Rzek(MMOR), które zgodne są z wymogami <strong>Ramowej Dyrektywy Wodnej</strong>. Nasi eksperci posiadają ogromne doświadczenie w zakresie realizacji tych metod a co najważniejsze są ich twórcami. Nowe przepisy Unii Europejskiej wymagają zmian w podejściu do środowiska wodnego, które ściśle określa Ramowa Dyrektywa Wodna. Aktualne kryteria oceny i klasyfikacji wód zmieniają pogląd na dotychczasową ocenę stosowanych w przemyśle i rolnictwie technologii. Ocena jakości wód w celu określenia stanu ekologicznego ekosystemu wodnego jest nowym podejściem do oceny jakości i klasyfikacji wód wprowadzonym na terenie całej Unii Europejskiej poprzez uchwalenie w 2000 roku Ramowej Dyrektywy Wodnej. <strong>Stan ekologiczny wód oceniany jest w oparciu o cztery grupy organizmów</strong>: fitoplankton, makrofity, makrobezkręgowce bentosowe i ryby. Parametry fizyko-chemiczne, jak i hydromorfologiczne mają za zadanie wspomagać elementy biologiczne. W związku z czym, Makrofitowa Metoda Oceny Rzek (MMOR) stanowi ważny element oceny stanu ekologicznego i muszą być uwzględnione w systemach oceny i klasyfikacji ekosystemów wodnych. Ramowa Dyrektywa Wodna wymaga również przeprowadzania oceny hydromorfologicznej rzek przy klasyfikacji jakości ekologicznej cieków. Najbardziej rozpowszechnionym do tego celu jest system River Habitat Survey (RHS).</p>
    <p><strong>River Habitat Survey</strong> (RHS) jest precyzyjnym systemem oceny hydromorfologiczne rzek, który cechuje się obiektywnością opisu środowiska rzecznego i doskonale nadaje się do analiz statystycznych. RHS pozwala na zebranie około 400 parametrów określających warunki hydromorfologiczne badanego odcinka. Ma zastosowanie w przedsięwzięciach związanych z:</p>
    <ul>
        <li>ochroną dolin rzecznych</li>
        <li>renaturyzacją cieków</li>
        <li>monitoringiem i różnego rodzaju badaniami naukowymi</li>
        <li>oceną hydromorfologiczną rzek na potrzeby Ramowej Dyrektywy Wodnej
            <ul>
                <li>oceny wpływu oddziaływania przedsięwzięć na cele ochrony wód w rozumieniu Ramowej Dyrektywy Wodnej</li>
            </ul>
        </li>
    </ul>
    <p>RHS jest systemem pozwalającym na odpowiednią ocenę odcinka wyznaczonego jako jednolitą część wód w 
gu krajowym oraz pozwala ocenić charakter siedliska i jakość rzeki opartą na ich strukturze morfologicznej.</p>
    <p><strong>Makrofitowa Metoda Oceny Rzek</strong> (MMOR) – opiera się na roślinach wodnych i wykorzystywana jest do oceny stanu ekologicznego wód. Stosowana jest we wszystkich typach wód płynących Polski. Wśród wszystkich ocenianych metod z różnych krajów Unii Europejskiej, MMOR zyskała duże uznanie, gdyż najlepiej koreluje z parametrami troficznymi wód.<br>
        Makrofitowa Metoda Oceny Rzek opera się na ilościowej i jakościowej ocenie składu gatunkowego makrofitów występujących w wodach. Pozwala na określenie stopnia degradacji rzek, głównie w odniesieniu do ich trofizmu. Metoda daje precyzyjny i powtarzalny wynik, co pozwala na zastosowanie jej w <strong>monitoringu środowiska</strong>. Może być wykorzystywana w ocenie silnie zmienionych kanałów i cieków, a także przyujściowych odcinków znajdujących się pod częściowym wpływem wód morskich.
    </p>
{% endblock %}