{% extends "oferta/oferta.html.twig" %}

{% block title %}Obsługa i doradztwo - karty informacyjne przedsięwzięć{% endblock %}
{% block metaDescription %}Zajmujemy się rozwiązywaniem problemów środowiskowych i służymy pomocą podczas przygotowania wniosków i dokumentacji przyrodniczych.{% endblock %}

{% block offerHeader %}obsługa i doradztwo{% endblock %}

{% block offerArticleContent %}
    <p>Oprócz realizacji zadań związanych z inwentaryzacjami i dokumentacjami przyrodniczymi, specjalistycznymi opracowaniami, gospodarką odpadami, szkoleniami i badaniami opinii publicznej firma BIO-INWENT zajmuje się również obsługą i doradztwem firm z zakresu ochrony środowiska. Nasi eksperci zajmują się rozwiązywaniem problemów środowiskowych, a także służą pomocą podczas przygotowania wniosków i dokumentacji przyrodniczych, które niezbędne są w celu uzyskania odpowiednich pozwoleń. Pilotujemy sprawy urzędowe związane z ochroną środowiska. W swoim zakresie oferujemy stałe doradztwo w zakresie:</p>
    <ul>
        <li>rolnictwa</li>
        <li>prawa ochrony środowiska</li>
        <li>naliczania opłat za gospodarcze korzystanie ze środowiska</li>
        <li>gospodarki wodno-ściekowej</li>
        <li>uzyskania pozwolenia na emisję zanieczyszczeń do środowiska</li>
        <li>planowania inwestycji na obszarach chronionych, cennych przyrodniczo i na obszarach Natura 2000</li>
    </ul>
    <p>Ponadto BIO-INWENT specjalizuje się w gospodarce odpadami, a dokładniej w zakresie zezwoleń na przetwarzanie, wytwarzanie i zbieranie odpadów oraz pozwoleń zintegrowanych. Zajmujemy się realizacją wniosków niezbędnych do zamknięcia składowiska odpadów lub jego części oraz przygotowujemy wnioski zatwierdzające wytyczne prowadzenia składowiska odpadów.</p>
    <p>Na potrzeby uzyskania decyzji o środowiskowych uwarunkowaniach firma BIO- INWENT wykonuje <a href="http://bio-inwent.pl/raporty_oddzialywania_na_srodowisko.php">raporty o oddziaływaniu na środowisko</a> przedsięwzięć, a także pomaga w przygotowywaniu karty informacyjnej przedsięwzięcia. Realizujemy również przeglądy ekologiczne. Zajmujemy się także oceną wpływu inwestycji na krajobraz oraz opiniami i ekspertyzami w zakresie wycinki drzew. Reprezentujemy podmioty gospodarcze przed organami administracji publicznej w sprawach związanych z ochroną środowiska.</p>
{% endblock %}