{% extends "oferta_lista.html.twig" %}

{% block content %}
<section id="offer" class="offer">
    <section id="{{ id }}" class="offer-article">
        <article class="article clearfix">
            <h3>
                {% block offerHeader %}{% endblock %}
            </h3>
            <div class="article-content">
                {% block offerArticleContent %}
                    Strona w przygotowaniu.
                {% endblock %}
            </div>
        </article>
        <figure>
            {% block figure %}
            {% if picture %}
            <div class="photo">
                <img src="img/photos/offer/{{ picture }}" alt="{{ alt }}">
            </div>
            {% endif %}
            {% endblock %}
        </figure>
    </section>
</section>
{% endblock %}
