{% extends "oferta/oferta.html.twig" %}

{% block title %}Szkolenia - Inwentaryzacje przyrodnicze | Bio-Inwent{% endblock %}
{% block metaDescription %}Organizujemy szkolenia z zakresu inwentaryzacji przyrodniczych oraz oceny stanu ekologicznego siedlisk wodnych i lądowych.{% endblock %}

{% block offerHeader %}szkolenia{% endblock %}

{% block offerArticleContent %}
    <p>
        Organizujemy szkolenia w zakresie inwentaryzacji przyrodniczych oraz oceny stanu ekologicznego siedlisk wodnych i lądowych. Proponujemy Państwu udział w kursach w ramach cyklu szkoleń na temat „Ocena stanu środowiska na obszarach NATURA 2000". Ma on na celu przybliżenie tematyki inwentaryzacji przyrodniczych poprzez organizację zajęć terenowych ukierunkowanych na praktyczną identyfikację elementów przyrodniczych. Tematyka kursów obejmie zapoznanie się z najważniejszymi aspektami przyrodniczymi: florą, fauną oraz elementami krajobrazu istotnymi z przyrodniczego punktu widzenia. W ramach kursów poruszane są również zagadnienia wykonywania właściwej oceny stanu ekologicznego wód płynących z wykorzystaniem najnowszych metod monitoringowych stosowanych przez Główny Inspektorat Ochrony Środowiska. Kursy realizowane są przy współpracy z pracownikami Uniwersytetu Przyrodniczego w Poznaniu, oraz ekspertów zewnętrznych z innych instytucji, którzy posiadają wieloletnie doświadczenie w zakresie ochrony i monitoringu środowiska oraz inwentaryzacji przyrodniczych.
    </p>
    <p>Realizujemy kursy o następującej tematyce:</p>
    <ul>
        <li><strong>„<a href="http://www.bio-inwent.pl/inwentaryzacje_przyrodnicze.php" style="color:#000">Inwentaryzacje przyrodnicze</a> w warunkach zimowych”</strong>
            <ul>
                <li>identyfikacja ssaków na podstawie tropów i pokroju</li>
                <li>identyfikacja ptaków zimujących</li>
                <li>rozpoznawanie drzew i krzewów w warunkach zimowych</li>
            </ul>
        </li>
        <li><strong>„Badania herpetologiczne”</strong>
            <ul>
                <li>rozpoznawanie płazów na podstawie głosów i skrzeku</li>
                <li>rozpoznawanie gadów</li>
            </ul>
        </li>
        <li><strong>„Inwentaryzacja siedlisk łąkowych i bagiennych”</strong>
            <ul>
                <li>rozpoznawanie płazów na podstawie głosów i skrzeku</li>
                <li>rozpoznawanie gadów</li>
            </ul>
        </li>
        <li><strong>„Zastosowanie makrofitów w ocenie stanu ekologicznego wód płynących”</strong>
            <ul>
                <li>wykorzystanie Makrofitowej Metody Oceny Rzek w zadaniach monitoringowych i inwentaryzacyjnych</li>
                <li>podstawy identyfikacji roślinności wodnej</li>
            </ul>
        </li>
        <li><strong>„Monitoring nietoperzy”</strong>
            <ul>
                <li>identyfikacja nietoperzy na podstawie głosów i pokroju</li>
                <li>zastosowanie nietoperzy w monitoringu stanu środowiska</li>
            </ul>
        </li>
        <li><strong>„Inwentaryzacja wybranych gatunków bezkręgowców”</strong>
            <ul>
                <li>identyfikacja wybranych bezkręgowców lądowych i wodnych</li>
            </ul>
        </li>
        <li><strong>„Ocena hydromorfologiczna rzek z wykorzystaniem metody River Habitat Survey”</strong>
            <ul>
                <li>zastosowanie metody River Habitat Survey w zadaniach monitoringowych i inwentaryzacyjnych</li>
            </ul>
        </li>
        <li><strong>„Metodyka opracowania danych terenowych i ich waloryzacja na potrzeby oceny stanu środowiska obszarów NATURA 2000”</strong>
            <ul>
                <li>identyfikacja siedlisk nieleśnych i leśnych uwzględnionych w NATURZE 2000 w okresie jesiennym</li>
            </ul>
        </li>
        <li><strong>„Problematyka ocen oddziaływania inwestycji na środowisko na obszarach NATURA 2000”</strong>
            <ul>
                <li>podstawowe problemy wynikające z trudności wykonania właściwej oceny stanu ekologicznego środowiska na obszarach NATURA 2000</li>
                <li>problematyka działań kompensacyjnych stosowanych na obszarach NATURA 2000</li>
            </ul>
        </li>
    </ul>
{% endblock %}