{% extends "base.html.twig" %}

{% block title %}Aktualności | Bio-Inwent Pracownia Ekspertyz Środowiskowych{% endblock %}
{% block metaDescription %}Sprawdź aktualności, dowiedz się więcej o naszej pracy.{% endblock %}
{% block content %}
    <section id="news" class="news">
        <article class="article clearfix">
            <h3>Facebook</h3>
            <div class="article-content">
                <div class="fb-like-box" data-href="https://www.facebook.com/BioInwent" data-width="682" data-height="900" data-show-faces="false" data-stream="true" data-header="false" data-border-color="#FFF"></div>
            </div>
        </article>
    </section>
{% endblock %}