<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset='utf-8'>
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="canonical" href="http://bio-inwent.pl">
        <meta name="keywords" content="ochrona środowiska, ekspertyzy, inwentaryzacje przyrodnicze, gospodarka odpadami, raporty ooś, oddziaływanie na środowisko, inwentaryzacje krajobrazowe, doradztwo, rolnictwo, monitoring środowiska, River Habitat Survey, Makrofitowa Metoda Oceny Rzek, Fauna, Flora, Poznań, Polska, dokumentacje przyrodnicze, pracownia ekspertyz środowiskowych">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link href='http://fonts.googleapis.com/css?family=Ope\n+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <script src="js/libs/jquery-1.9.1.min.js"></script>
        <script src="js/libs/bootstrap-min.js"></script>
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<section id="bio-inwent" class="bio">
    <header>
        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}
    </header>
    <main id="main" role="main">
        <section id="content" class="content">
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
        <div class="copyright">
            <a href="http://bio-inwent.pl">bio-inwent</a> - Pracownia Ekspertyz Środowiskowych © 2013-2014 | Bułgarska 80B/3, 60-321 Poznań
        </div>
    </footer>
</section>
<div id="fb-root"></div>

<script type="text/javascript">
    window.___gcfg = {lang: 'pl'};

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39435516-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

{% block javascritps %}{% endblock %}

</body>
</html>