{% extends "base.html.twig" %}

{% block title %}O nas | Bio-Inwent Pracownia Ekspertyz Środowiskowych{% endblock %}
{% block metaDescription %}Baza danych.{% endblock %}
{% block content %}
    <section id="database" class="database">
        <article class="article clearfix">
            <h3>baza danych</h3>
            <div class="article-content">
                <p>
                    W celu bezpłatnego pozyskania bazy danych służącej do gromadzenia danych terenowych i obliczania syntetycznych wskaźników hydromorfologicznych (HQA, HMS, RHQ, RHM), a także klasyfikacji stanu hydromorfologicznego rzek, należy skontaktować się z nami bezpośrednio na adres e-mail:
                    <a href="mailto:l.bryl@bio-inwent.pl">l.bryl@bio-inwent.pl</a>.
                    <br/>
                    Wyżej wymieniona baza danych jest autorstwa dra inż. Szymona Jusika z Katedry Ekologii i Ochrony Środowiska Uniwersytetu Przyrodniczego w Poznaniu i powstała jako efekt współpracy z firmą Bio-Inwent Pracownia Ekspertyz Środowiskowych, w ramach projektu pn.: „Staże i szkolenia praktyczne dla pracowników/nic naukowych placówek naukowych i pracowników/nic naukowych, naukowo-dydaktycznych i dydaktycznych uczelni w przedsiębiorstwach” będącego częścią Programu Operacyjnego Kapitał Ludzki 2007-2013.
                </p>
            </div>
        </article>
    </section>
{% endblock %}