{% extends "base.html.twig" %}

{% block title %}Zespół Ekspertów | Bio-Inwent Inwentaryzacje Przyrodnicze  i dendrologiczne{% endblock %}
{% block metaDescription %}Nabyte umiejętności, bogata wiedza merytoryczna i doświadczenie zawodowe pozwalają nam realizować wszelkie zlecenia związane z ochroną środowiska{% endblock %}
{% block content %}
    <section id="team" class="team">
        <article class="article clearfix">
            <div class="article-content full-width">
                <h4>nasi eksperci</h4>
                <p>
                    Nasi pracownicy i współpracownicy tworzą znakomity zespół zarówno młodych i ambitnych, jak również doświadczonych ekspertów, cechujących się ogromną pasją przyrodniczą oraz dużym zaangażowaniem podczas wykonywanej pracy. Nabyte umiejętności, bogata wiedza merytoryczna oraz wieloletnie doświadczenie zawodowe m.in. w pracy naukowej, jak również w administracji państwowej, pozwalają nam zrealizować wszelkie zagadnienia związane z szeroko pojętą ochroną środowiska. BIO-INWENT tworzą wybitni specjaliści w zakresie swoich ulubionych dziedzin nauki. Współpracujemy m.in. z pracownikami Uniwersytetu Przyrodniczego w Poznaniu, innych instytucji z całej Polski (np. uczelnie wyższe, WIOŚ, RZGW), a także z ekspertami przedsiębiorstw prywatnych.<br>
                    Posiadamy niezbędną wiedzę i doświadczenie w przepisach prawa ochrony środowiska, <a href="http://www.bio-inwent.pl/inwentaryzacje_przyrodnicze.php">inwentaryzacjach przyrodniczych</a>, kompleksowym doradztwie i obsłudze dotyczącej ochrony środowiska oraz ocenach oddziaływania inwestycji na środowisko, w tym na obszarach Natura 2000. Specjalizujemy się w Makrofitowej Metodzie Oceny Rzek oraz hydromorfologicznej metodzie River Habitat Survey, które opracowywane były m.in. przez naszych ekspertów oraz zgodne są z przepisami Ramowej Dyrektywy Wodnej. W naszym zespole znajdują się również osoby zajmujące się zagadnieniami z różnych dziedzin nauki (np. rolnictwo, ochrona środowiska, <a href="http://bio-inwent.pl/monitoring_srodowiska.php">monitoring środowiska</a>, hydrogeologia, <a href="http://bio-inwent.pl/gospodarka_odpadami.php">gospodarka odpadami</a>, makrofity - w tym mszaki wodne, akustyka środowiska, i wiele innych).
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>
                <img src="img/photos/lbryl.jpg" alt="Bryl - Monitoring Środowiska, Inwentaryzacje Przyrodnicze">
            </h3>
            <div class="article-content">
                <h4>mgr inż. Łukasz Bryl</h4>
                <p>
                    mail: <a href="mailto:l.bryl@bio-inwent.pl">l.bryl@bio-inwent.pl</a></br >
                    tel.: 505 246 369
                </p>
                <p>
                    Absolwent Uniwersytetu Przyrodniczego w Poznaniu. Kierunek: Ochrona Środowiska. Specjalizacja: Monitoring i Oceny Środowiskowe. Napisał i obronił pracę magisterską pt. "Wykorzystanie mszaków wodnych jako wskaźników trofii, zakwaszenia i przekształceń morfologicznych rzek w Polsce".<br>
                    Miłośnik przyrody i pięknych krajobrazów. Swoją wiedzę i zamiłowania poszerzałobserwując środowisko naturalne Parków Stanowych i Narodowych w USA, a także wielu ciekawych obszarów Europy. Doświadczenie zawodowe zdobywał m.in.: w Regionalnej Dyrekcji Ochrony Środowiska w Poznaniu oraz w biurze projektowym Eko-Ocena. Zakres wykonywanych czynności: opracowywanie i przygotowywanie ekspertyz środowiskowych oraz dokumentacji przyrodniczych, RHS, MMOR, inwentaryzacje przyrodnicze, marketing, a także infobrokering.
                </p>
            </div>
        </article>
        {#
        <article class="article clearfix">
            <h3>
                <img src="img/photos/mjuszczak.jpg" alt="Juszczak - Inwentaryzacje Dendrologiczne, Gospodarka odpadami">
            </h3>
            <div class="article-content">
                <h4>mgr inż. Michał Juszczak</h4>
                <p>
                    mail: <a href="mailto:m.juszczak@bio-inwent.pl">m.juszczak@bio-inwent.pl</a></br >
                    tel.: 505 355 163
                </p>
                <p>
                    Zakres wykonywanych czynności: ekspertyzy w zakresie gospodarki odpadami, inwentaryzacje botaniczne siedlisk wodnych i łąkowych, oraz opracowywanie dokumentacji przyrodniczych.
                </p>
            </div>
        </article>
        #}
        <article class="article clearfix">
            <h3>
                <img src="img/photos/jkupiec.jpg" alt="Kupiec">
            </h3>
            <div class="article-content">
                <h4>dr inż. Jerzy Kupiec</h4>
                <p>
                    Pracownik Uniwersytetu Przyrodniczego w Poznaniu oraz ekspert zewnętrzny w firmie Bio-Inwent Pracownia Ekspertyz Środowiskowych.
                </p>
                <p>
                    Pracę doktorską pt. „Ocena bilansu składników biogennych (NPK) jako podstawy monitoringu produkcji rolnej w aspekcie ochrony środowiska" realizował w Katedrze Ekologii i Ochrony Środowiska pod kierunkiem prof. dr hab. Janiny Zbierskiej. Tytuł doktora Nauk rolniczych w dyscyplinie Kształtowanie środowiska uzyskał na podstawie uchwały Rady Wydziału Melioracji i Inżynierii Środowiska w 2008 r.
                    <br/>
                    Więcej na stronie: <a href="http://www.up.poznan.pl/~jkupiec/" target="_blank">http://www.up.poznan.pl/~jkupiec/</a>
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>
                <img src="img/photos/sjusik.jpg" alt="Jusik">
            </h3>
            <div class="article-content">
                <h4>dr inż. Szymon Jusik</h4>
                <p>
                    Pracownik Uniwersytetu Przyrodniczego w Poznaniu. Ekspert zewnętrzny w firmie Bio-Inwent Pracownia Ekspertyz Środowiskowych w zakresie ocen środowiskowych oraz inwentaryzacji i waloryzacji ekosystemów wodnych i łąkowych.
                    <br/>
                    Więcej na stronie: <a href="http://www.up.poznan.pl/keios/keiospl/?page_id=339" target="_blank">http://www.up.poznan.pl/keios/keiospl/?page_id=339</a>
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>
                <img src="img/photos/ppruss.jpg" alt="Pruss">
            </h3>
            <div class="article-content">
                <h4>mgr inż. Patrycja Pruss</h4>
                <p>
                    Absolwentka Uniwersytetu Przyrodniczego w Poznaniu, kierunek Ochrona Środowiska, specjalizacja Monitoring i Oceny Środowiskowe. Zainteresowania: prawo w ochronie środowiska. Zakres wykonywanych czynności: opracowywanie i przygotowywanie raportów, ekspertyz środowiskowych oraz dokumentacji przyrodniczych, badania metodami RHS, MMOR, inwentaryzacje przyrodnicze, marketing, a także infobrokering.
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>
                <img src="img/photos/jstachowicz.jpg" alt="Stachowicz">
            </h3>
            <div class="article-content">
                <h4>mgr inż. Justyna Stachowicz</h4>
                <p>
                    Absolwentka Uniwersytetu Przyrodniczego w Poznaniu, kierunek Ochrona Środowiska. Swoje doświadczenie zdobyła pracując w dziale gospodarki odpadami Urzędu Miasta i Gminy Września oraz w wielu firmach prywatnych, a także biorąc czynny udział w wielu kursach i konferencjach naukowo-szkoleniowych. Specjalizuje się w zagadnieniach dotyczących specjalista z zakresu gospodarki odpadami, ochrony wód i infrastruktury wodno-kanalizacyjnej.
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>
                <img src="img/photos/mwalkowski.jpg" alt="Wałkowski">
            </h3>
            <div class="article-content">
                <h4>mgr inż. Marek Wałkowski</h4>
                <p>
                    Absolwent Uniwersytetu Przyrodniczego w Poznaniu, kierunek Ochrona Środowiska, specjalizacja Monitoring i Oceny Środowiskowe. Specjalista ds. inwentaryzacji przyrodniczych (dendrologicznych, florystycznych-fitosocjologicznych oraz faunistycznych-herpetologicznych). Zajmuje się także zagadnieniami związanymi z analizami przestrzennymi z wykorzystaniem aplikacji systemów informacji przestrzennej GIS. Posiada szeroka wiedzę w zakresie Prawa Wodnego i Prawa Ochrony Środowiska.
                </p>
            </div>
        </article>

    </section>
{% endblock %}