<div class="clearfix">
    <section id="logo" class="logo">
        <h1>
            <a href="/">
                <i class="icon"><img src="img/images/logo.jpg" alt="Decyzje, Ekspertyzy, Raporty Środowiskowe - Bio-Inwent"></i>
                <span>Bio-Inwent</span>
            </a>
        </h1>
        <h2>Pracownia Ekspertyz Środowiskowych</h2>
    </section>
    <section class="social clearfix">
        <div class="fb-like" data-href="https://www.facebook.com/BioInwent" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" data-colorscheme="dark" style="vertical-align: top;"></div>
        <div class="g-plusone" data-href="http://bio-inwent.pl" data-size="medium"></div>
    </section>
    <nav class="main-nav clearfix">
        <ul class="nav nav-pills flexbox">
            <li class="{{ menu.home }}">
                <a href="index.php">Home</a>
            </li>
            <li class="{{ menu.aboutUs }}">
                <a href="o_nas.php">O nas</a>
            </li>
            <li class="{{ menu.news }}">
                <a href="aktualnosci.php">Aktualności</a>
            </li>
            <li class="{{ menu.team }}">
                <a href="eksperci.php">Eksperci</a>
            </li>
            <li class="{{ menu.offer }}">
                <a href="oferta.php">Oferta</a>
            </li>
            <li class="{{ menu.projects }}">
                <a href="realizacje.php">Realizacje</a>
            </li>
            <li class="{{ menu.database }}">
                <a href="baza_danych.php">Baza danych</a>
            </li>
            <li class="{{ menu.contact }}">
                <a href="kontakt.php">Kontakt</a>
            </li>
        </ul>
    </nav>
    <section class="contact">
        <address>
            <p>
                <i class="icon-user icon-white"></i> - 505 246 369<br>
                {#<i class="icon-user icon-white"></i> - 505 355 163<br>#}
                <i class="icon-envelope icon-white"></i> - <a href="mailto:biuro@bio-inwent.pl">biuro@bio-inwent.pl</a>
            </p>
        </address>
    </section>
</div>