{% extends "base.html.twig" %}

{% block title %}Decyzje środowiskowe, Ekspertyzy, Raporty OOŚ | Bio-Inwent{% endblock %}
{% block metaDescription %}Zajmujemy się kompleksową obsługą, doradztwem i ekspertyzami w zakresie szeroko pojętej ochrony środowiska. Raporty OOŚ i deczje środowiskowe. Nasza usługi świadczymy na terenie całego kraju.{% endblock %}
{% block content %}
    <section id="home" class="home">
        <aside id="main-sneak-peak" class="main-sneak-peak">
            <figure class="clearfix">
                <div class="photo"></div>
                <figcaption>„Twój biznes w zgodzie z naturą”</figcaption>
            </figure>
            <div class="descrition"></div>
        </aside>
        <article class="article clearfix">
            <h3>o nas</h3>
            <div class="article-content">
                <p>
                    Jesteśmy ludźmi z wielką pasją a co najważniejsze, cechuje nas ogromne zaangażowane podczas realizacji zleconych nam zadań. Posiadamy duże doświadczenie zarówno w pracy naukowej, jak i w administracji państwowej, dzięki czemu doskonale możemy łączyć praktykę z teorią. Dodatkowo, wyróżnia nas <strong>krótki czas realizacji</strong> postawionego nam zadania oraz <strong>atrakcyjna cena</strong>, która z pewnością Państwa zadowoli. Wykonywane przez nas usługi obejmujemy pełną odpowiedzialnością, aż do momentu zakończenia postępowania administracyjnego. Dbamy również o rzetelność i solidną jakość wykonywanych opracowań. BIO-INWENT tworzą zarówno osoby młode, ambitne, a także specjaliści, którzy cechują się <strong>ogromnym doświadczeniem i bezcenną wiedzą</strong>. Dysponujemy zgranym zespołem wykwalifikowanych ekspertów, profesjonalnym sprzętem pomiarowym oraz specjalistycznym oprogramowaniem komputerowym.
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>co robimy?</h3>
            <div class="article-content">
                <p>
                    Zajmujemy się <strong>kompleksową obsługą i doradztwem</strong> w zakresie szeroko pojętej ochrony środowiska. Nasze usługi świadczymy na terenie całego kraju. Wszystkie opracowania realizujemy w oparciu o aktualne i właściwe przepisy prawne oraz obejmujemy opieką od podstaw, aż do uzyskania niezbędnych pozwoleń lub <a href="http://www.bio-inwent.pl/decyzje_srodowiskowe.php">decyzji środowiskowych</a>. Oprócz <strong>raportów o oddziaływaniu przedsięwzięcia na środowisko (<a href="http://bio-inwent.pl/raporty_oddzialywania_na_srodowisko.php">raporty ooś</a>)</strong>, w tym realizowanych na obszary <strong>NATURA 2000</strong> (zarówno dla inwestycji liniowych, jak i punktowych), <strong>wykonujemy m.in.</strong>: <a href="http://www.bio-inwent.pl/inwentaryzacje_przyrodnicze.php">inwentaryzacje przyrodnicze</a> oraz dokumentacje i <a href="http://bio-inwent.pl/nadzor_przyrodniczy.php">nadzory przyrodnicze</a>, ekspertyzy środowiskowe, <a href="http://www.bio-inwent.pl/karty_informacyjne_przedsiewziec.php">karty informacyjne przedsięwzięć</a>, plany <a href="http://bio-inwent.pl/gospodarka_odpadami.php">gospodarki odpadami</a>, operaty i <a href="http://www.bio-inwent.pl/inwentaryzacje_przyrodnicze.php">inwentaryzacje dendrologiczne</a>, operaty wodno-prawne, programy ochrony środowiska, programy usuwania azbestu, <a href="http://bio-inwent.pl/monitoring_srodowiska.php">monitoring środowiska</a>, a także szkolenia i kursy.<br> Specjalizujemy się również w ocenie stanu hydromorfologicznego rzek na podstawie metody <strong>River Habitat Survey</strong> (RHS) oraz w ocenie stanu ekologicznego wód <strong>Makrofitową Metodą Oceny Rzek</strong> (MMOR), które zgodne są z wymogami <strong>Ramowej Dyrektywy Wodnej</strong>. W celu zapoznania się ze szczegółowym zakresem świadczonych usług zapraszamy do działu „oferta”.
                </p>
            </div>
        </article>
        <article class="article clearfix">
            <h3>odrobina historii</h3>
            <div class="article-content">
                <p>
                    BIO-INWENT Pracownia <a href="http://bio-inwent.pl/ekspertyzy_srodowiskowe.php">Ekspertyz Środowiskowych</a> została założona w październiku 2012 roku. Nasz zespół tworzy grupa doświadczonych oraz ambitnych specjalistów z zakresu szeroko pojętej ochrony środowiska. Współpracujemy z wieloma ekspertami m.in. z pracownikami Uniwersytetu Przyrodniczego w Poznaniu oraz innych instytucji z całej Polski (np. uczelnie wyższe, WIOŚ, RZGW). Nazwa firmy BIO-INWENT pochodzi od połączenia dwóch bliskich nam słów:
                <ul>
                    <li>Biologii (BIO), która obejmującej szeroki wachlarz zagadnień badawczych oraz jest nauką przyrodniczą zajmującą się badaniem życia i organizmów żywych.</li>
                    <li><strong>Inwentaryzacji Przyrodniczych</strong> (INWENT), które są naszą specjalnością oraz stanowią niezbędną wiedzę przy opracowaniu wielu dokumentacji środowiskowych.</li>
                </ul>
                </p>
            </div>
        </article>
    </section>
{% endblock %}