{% extends "base.html.twig" %}

{% block title %}Kontakt - Dane teleadresowe firmy, mapa dojazdu | Bio-Inwent{% endblock %}
{% block metaDescription %}Bio-Inwent - Pracownia Ekspertyz Środowiskowych, Adres: ul. Bułgarska 80B/3 60-321 Poznań, Adres e-mail: biuro@bio-inwent.pl{% endblock %}

{% block content %}
    <section id="contact" class="contact">
        <article class="article clearfix">
            <h3>kontakt</h3>
            <div class="article-content">
                <dl>
                    <dt>Godziny otwarcia:</dt>
                    <dd>od poniedziałku do piątku w godzinach 09:00 - 17:00</dd>
                    <dd>soboty w godzinach 09:00 - 14:00</dd>
                </dl>
                <br>
                <dl>
                    <dt>Łukasz Bryl</dt>
                    <dd>505 246 369</dd>
                    <dd><a href="mailto:l.bryl@bio-inwent.pl">l.bryl@bio-inwent.pl</a></dd>
                    {#
                    <dt>Michał Juszczak</dt>
                    <dd>505 355 163</dd>
                    <dd><a href="mailto:m.juszczak@bio-inwent.pl">m.juszczak@bio-inwent.pl</a></dd>
                    #}
                </dl>
            </div>
        </article>
        <article class="article clearfix">
            <h3>dane firmy</h3>
            <div class="article-content">
                <address>
                    <p>
                        Bułgarska 80B/3<br>
                        60-321 Poznań, Polska<br>
                        <a href="mailto:biuro@bio-inwent.pl">biuro@bio-inwent.pl</a><br><br>
                        NIP: 779-227-11-19</br >
                        REGON: 302227052
                    </p>
                </address>
            </div>
        </article>
        <article class="article clearfix">
            <h3>mapa</h3>
            <div class="article-content">
                <iframe id="mapframe" src="about:blank" data-src="http://maps.google.pl/maps?ie=UTF8&amp;cid=15272598375369745792&amp;q=Bio-Inwent+Pracownia+Ekspertyz+%C5%9Arodowiskowych&amp;gl=PL&amp;hl=en&amp;t=m&amp;ll=52.404422,16.866503&amp;spn=0.008221,0.013454&amp;z=16&amp;iwloc=A&amp;output=embed" width="628" height="628" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div><small><a href="http://maps.google.pl/maps?ie=UTF8&amp;cid=15272598375369745792&amp;q=Bio-Inwent+Pracownia+Ekspertyz+%C5%9Arodowiskowych&amp;gl=PL&amp;hl=en&amp;t=m&amp;ll=52.404422,16.866503&amp;spn=0.008221,0.013454&amp;z=16&amp;iwloc=A&amp;source=embed" target="_blank">zobacz dużą mapę</a></small></div>
            </div>
        </article>
    </section>
{% endblock %}

{% block javascritps %}
    <script type="text/javascript">
    if (document.getElementById('mapframe').src !== $('#mapframe').data('src')) {
        document.getElementById('mapframe').src = $('#mapframe').data('src');
    }
    </script>
{% endblock %}