{% extends "base.html.twig" %}

{% block title %}O nas | Bio-Inwent Pracownia Ekspertyz Środowiskowych{% endblock %}
{% block metaDescription %}O nas.{% endblock %}
{% block content %}
    <section id="about-us" class="about-us">
        <article class="article clearfix">
            <h3>o nas</h3>
            <div class="article-content">
                Dział w przygotowaniu.
            </div>
        </article>
    </section>
{% endblock %}