{% extends "base.html.twig" %}

{% block title %}Pełna oferta | Bio-Inwent{% endblock %}
{% block metaDescription %}Oferta{% endblock %}
{% block content %}
    <section id="offer" class="offer">
        <article class="article clearfix">
            <h3>oferta</h3>
            <div class="article-content">
                <ul class="offer-list">
                    <li><a href="inwentaryzacje_przyrodnicze.php">Inwentaryzacje przyrodnicze</a></li>
                    <li><a href="inwentaryzacja_dendrologiczna.php">Inwentaryzacja dendrologiczna</a></li>
                    <li><a href="nadzor_przyrodniczy.php">Nadzór przyrodniczy</a></li>
                    <li><a href="monitoring_srodowiska.php">Monitoring środowiska</a></li>
                    <li><a href="raporty_oddzialywania_na_srodowisko.php">Raporty oddziaływania na środowisko</a></li>
                    <li><a href="karty_informacyjne_przedsiewziec.php">Karty informacyjne przedsięwzięć</a></li>
                    <li><a href="ekspertyzy_srodowiskowe.php">Ekspertyzy środowiskowe</a></li>
                    <li><a href="dokumentacje_przyrodnicze.php">Inne dokumentacje przyrodnicze</a></li>
                    <li><a href="decyzje_srodowiskowe.php">Decyzje środowiskowe</a></li>
                    <li><a href="gospodarka_odpadami.php">Gospodarka odpadami</a></li>
                    <li><a href="szkolenia.php">Szkolenia</a></li>
                    <li><a href="obsluga_doradztwo.php">Obsługa i doradztwo</a></li>
                    <li><a href="badania_opinii_publicznej.php">Badania opinii publicznej</a></li>
                    <li><a href="kompleksowa_obsluga_stacji_demontazu_pojazdow.php">Kompleksowa obsługa stacji demontażu pojazdow</a></li>
                </ul>
            </div>
        </article>
    </section>
{% endblock %}