{% extends "base.html.twig" %}

{% block title %}Realizacje | Bio-Inwent Pracownia Ekspertyz Środowiskowych{% endblock %}
{% block metaDescription %}Realizacje.{% endblock %}
{% block content %}
    <section id="projects" class="projects">
        <article class="article clearfix">
            <h3>realizacje</h3>
            <div class="article-content">
                <p>
                    Poniżej znajduje się wykaz zrealizowanych przez nas na przestrzeni ostatniego okresu czasu losowo wybranych, przykładowych usług. Ich zakres obejmuje głównie zagadnienia związane z tematyką dotyczącą inwentaryzacji przyrodniczych oraz dendrologicznych, raportów ooś, kart informacyjnych przedsięwzięć, a także innych ekspertyz przyrodniczych. Poniższe zlecenia świadczone były na terenie całej Polski, a dowodem ich realizacji są uzyskane od zadowolonych klientów referencje.
                </p>
                <ul class="project-list unstyled">
                    <li>2014 – Opracowanie w formie operatu dendrologicznego zawierającego wyniki inwentaryzacji zieleni przeprowadzonej na terenie Regionalnego Centrum Krwiodawstwa i Krwiolecznictwa w Poznaniu, wraz z określeniem wyceny drzew przeznaczonych do wycinki, będących w kolizji z projektowanym budynkiem oraz przygotowaniem stosownego wniosku o wyrażenie zgody na wycinkę drzew i krzewów kolidujących z inwestycją, ich ewentualne przesadzenie, bądź zastosowanie nasadzeń zastępczych („Sosak i Sosak Projekt” Biuro Architektoniczne i Sztuk Plastycznych Sp. z o.o.);</li>
                    <li>2014 – Doradztwo środowiskowe w zakresie oddziaływania inwestycji na środowisko oraz wykonanie uzupełnienia na potrzeby raportu oceny oddziaływania na środowisko dla przedsięwzięcia polegającego na: „budowie stopnia wodnego i małej elektrowni wodnej w km 43+55, rzeki Prosny - obręb Łaszków i obręb Bogusław, gm. Blizanów” (ATOL-STUDIO);</li>
                    <li>2014 – Doradztwo środowiskowe w zakresie oddziaływania inwestycji na środowisko oraz wykonanie uzupełnienia na potrzeby raportu oceny oddziaływania na środowisko dla przedsięwzięcia polegającego na: „budowie biogazowni rolniczej o mocy elektrycznej 750 kW z modułem ORC na działce nr 316/10 obręb Gołębiewo” (Delta Wiatr Sp. z o.o.)</li>
                    <li>2014 – Sporządzenie wykazu zawierającego zbiorcze zestawienie informacji o zakresie korzystania ze środowiska oraz o wysokości należnych opłat („ASKON” Spółka Cywilna);</li>
                    <li>2014 – Sporządzenie raportu oddziaływania inwestycji na środowisko dla przedsięwzięcia pn.: „Budowa budynku inwentarskiego - chlewni”, w m. Siedleczko, gm. Wągrowiec;</li>
                    <li>2013 – Sporządzenie raportu oddziaływania inwestycji na środowisko dla przedsięwzięcia pn. „Budowa małej elektrowni wodnej o mocy 300kW na rzece Prośnie w m. Stary Olesiec, gm. Chocz oraz pompowni odwadniającej w m. Piła, gm. Chocz” (ALIGO sp. z o.o.);</li>
                    <li>2013 – Sporządzenie karty informacyjnej przedsięwzięcia pn.: „Budowa małej elektrowni wodnej o mocy 300kW na rzece Prośnie w m. Stary Olesiec, gm. Chocz oraz pompowni odwadniającej w m. Piła, gm. Chocz”  (ALIGO sp. z o.o.);</li>
                    <li>2013 – Sporządzenie raportu oddziaływania inwestycji na środowisko dla przedsięwzięcia pn. „Pyrnik – Klenica – odbudowa prawostronnego wału przeciwpowodziowego rzeki Odry”, gm. Bojadła, woj. lubuskie (Biuro Studiów i Projektów Budownictwa Wodnego „Hydroprojekt” Poznań);</li>
                    <li>2013 – Inwentaryzacja drzew i krzewów oraz sporządzenie operatu dendrologicznego na potrzeby przedsięwzięcia pn. „Pyrnik – Klenica – odbudowa prawostronnego wału przeciwpowodziowego rzeki Odry”, gm. Bojadła, woj. lubuskie (Biuro Studiów i Projektów Budownictwa Wodnego „Hydroprojekt” Poznań);</li>
                    <li>2013 – Sporządzenie raportu oddziaływania przedsięwzięcia na środowisko dla inwestycji pn. „Rozbudowa istniejącej stacji regazyfikacji LNG (ciekłego gazu ziemnego) zlokalizowanego w miejscowości Hel” (G.EN. GAZ ENERGIA S.A.);</li>
                    <li>2013 – Sporządzenie Karty Informacyjnej Przedsięwzięcia dla inwestycji polegającej na: zbieraniu, transporcie i odzysku odpadów w miejscowości Turze (RECTOM Surowce wtórne)</li>
                    <li>2013 – Sporządzenie raportu oddziaływania inwestycji na środowisko dla przedsięwzięcia pn. „Modernizacja wału cofkowego Czarnej Strugi Defet na polderze Zagórów” (Biuro Studiów i Projektów Budownictwa Wodnego „Hydroprojekt” Poznań);</li>
                    <li>2013 – „Ocena stanu ekologicznego 24 odcinków potoków sudeckich na podstawie fitobentosu okrzemkowego” (Uniwersytet Wrocławski - Katedra Ekologii, Biogeochemii i Ochrony Środowiska);</li>
                    <li>2013 – Sporządzenie raportu oddziaływania inwestycji na środowisko dla przedsięwzięcia pn. „Domaniew – zbiornik małej retencji” (Biuro Studiów i Projektów Budownictwa Wodnego „Hydroprojekt” Poznań);</li>
                    <li>2012 – Inwentaryzacja przyrodnicza wraz z opracowaniem dotyczącym charakterystyki przyrodniczej terenu przedsięwzięcia  pt: „Budowa gazociągu wysokiego ciśnienia DN 150mm Luzino-Rybno” oraz terenu znajdującego się w zasięgu oddziaływania tego przedsięwzięcia (G.EN. GAZ ENERGIA S.A.);</li>
                </ul>
            </div>
        </article>
    </section>
{% endblock %}



